* ,
::before,
::after{
 box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

body,button{

    background-color:#ececec;
    font-family: "Abel", sans-serif;
}

nav{

 width: 100%; 
 height: 70px; 
 background: #212121; 

}

nav a {

    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

nav ul{
   
    display: flex;
    justify-content: center;
    height: 100%; 
    width: 100%;
    list-style-type: none;
    
}

nav li{

margin: 0 15px;

}
@media screen and (max-width:550px){
    nav li{

        margin: 0 8px;
    }
    nav a{
      
        font-size: 15px;
    }
}
/* HOM */
.hero{

    height: 700px;
    
    display: flex;
    overflow: hidden;
}
.hom-left{

    position:relative;
    width: 40%;
    background:#212121;
    height: 100%; 
    box-shadow:90px 0 100px 100px #212121; 
}

h1{

    color: #f1f1f1;
    font: size 90px; 
    padding-top: 150px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}

.hero P{

    color: #f1f1f1;
    font-size: 30px;
    width: 600px; 
    margin-left: 8vw;
    line-height: 1.5; 

}
.btn-hero{

    display: flex;



}
.btn-home{
    font: size 20px; 
    text-align: center;
    color:#f1f1f1 ;
    background: #d6714d;

    padding: 15px; 
    text-decoration:none ;
    margin-top:  40px;
    border: 1px solid #ff6129;
    cursor: pointer;
    border-radius: 5px ;
    

}
.btn-home:hover{

  color:#251616 ; 
  background: #eb6010;
  transform: all 0.3s ease;

}
.b1{

    margin-left: 8vw;
}
.b2{

margin-left: 10px;

}
.home-right {
   background-image: url(Gym.jfif);
    width: 90%;
    height: 115%;
    background-position: 60% 25%;
}
@media screen  and(max-width:1350px){
    .hom-left{

        width: 50%;

    }
    .home-right{

        background-position: 45% 20%;
    }
}
    @media screen  and(max-width:950px){
            h1{
                font-size: 80px;
            }
    
}

@media screen  and(max-width:950px){

    .hero{
        height: 600px; 
    }
    h1{
       font-size: 50px; 
       margin: bottom 10px; ;
    }
    .btn-home{

       font-size: 18px;
       padding: 12px 20px;
        margin-top: 21px;
    }
}
/* INFOS */
.section-title {
    color: #000;
    text-align: center;
    font-size: 65px;
    padding: 60px 20px 120px; 
    text-transform: uppercase;
  }
  .info-section{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background: #f1f1f1;
    position: relative;

  }
  .info-card {

width: 350px; 
height:auto ;
margin: 0 20px;
  }

  .container-info-photo img{

    max-width: 100%;
    height: auto;
    margin-bottom: 10px;

  }


  

  .info-card p{

  color: #333;
  font-size: 22px;
  text-align: center;
  padding: 20px 5px;
 box-shadow: 0 10 30px rgba(0, 0, 0, 1);
  }
 @media screen and(max-width:100px) {
    .section-title{

        font-size:  50px;
    }
 }

 @media screen and(max-width:100px) {
    .section-title{

        font-size:  50px;
        padding: 40px;
    }
    .info-card{

        margin: 0 10 px 45 px;
    }
 }
 
 /*choce*/
 #choice {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
   
  }
  
  
  
  
  .training-choice  {
    font-size: 20px;
    width: 30%;
    margin: 50px 20 px 70px;
    color :#fff ;
    text-align: center;
    padding: 40px;
  }
  .training-choice h3{
    
    font-size: 45px ;
    margin-bottom: 20px;
   
  }
  .training-choice p {

    font-size: 18px;
    width: 100%;
    margin: 0 auto 30 px;
  }
  

  .btn-outlino-choice{
    width: 300px;
    padding: 17px 0; 
    font-size: 20px;
    background: #000;
    border: 1px solid #00999d;
    color: #00999d;
    cursor: pointer;
   font:bold;
  }
  .btn-outlino-choice:hover{

    transition: all 0.2 ease-in-out;
    background:#00999d ;
    color: #000;

    
  }
  @media screen and (max-width:1200px){
    .training-choice{

        width: 400px;
      
    }
}
  @media screen and (max-width:775px){
    #choice{

        flex-direction:column;

    }
    .training-choice{
        width: 350;
        margin: 50px 0 70px;
    }
    .training-choice h3{

font-size: 40px;
margin: bottom 20px;
    }
    .btn-outlino-choice{
        width: 250px;
    }

    .training-choice:nth-child(1){

        margin: 50px 20px 0;
    }
  }
  /*Equiepment*/

  #Equipment{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto 100px;
  }

  .btn-modal{

    width: 350px;
    height: 400px;
    border:none;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
  }

  .btn-modal:nth-child(1){

   background-image: url(equip-1.jpg);
  }

  .btn-modal:nth-child(2){

    background-image: url(equip-2.webp);
   }
   .btn-modal:nth-child(3){

    background-image: url(equip-3.png);
   }
  
   .btn-modal:nth-child(4){

    background-image: url(equip-4.webp);
   }
   .btn-modal:nth-child(5){

    background-image: url(equip-5.webp);
   }
  
   .btn-modal:nth-child(6){

    background-image: url(equip-6.jfif);
   }
   .btn-modal:nth-child(7){

    background-image: url(equip-7.jpg);
   }
   .btn-modal:nth-child(8){

    background-image: url(equip-8.jpg);
   }
   .btn-modal:nth-child(9){

    background-image: url(equip-9.jpg);
   }

   .bloc-modal{

    position: fixed;
    top: 0;
    bottom: 0;
    left:0 ;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index:  1000; 
    display:none;
   }
   .active-modal{

    display: block;
   }
   .bloc-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 500px;
   }
   .bloc-img img{

    width: 100%;

   }

   .close{
    position: absolute;
    z-index: 3000;
    top: 3%;
    right: 3%;
    height:50px;
    width: 50px;
    font-size: 24px;
    color: #fff;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    border: none;
   }
  